<h2>Zoo Animals</h2>

<a href='/zoos/:zoo_id/animals/new'>Add an Animal</a>
<h3>Animals:</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Age</th>
      <th>Photo</th>
      <th></th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each animals}}
    <tr>
      <td>{{name}}</td>
      <td>{{species}}</td>
      <td>{{age}}</td>
      <td><img src={{photo}}></td>
      <td><a href='zoos/:zoo_id/animals/edit'>Edit</a></td>
      <td><form><button>x</button></form></td>
    </tr>
    {{/each}}
  </tbody>
</table>

