<h2>Add an animal</h2>
<form method='POST' action='/zoos/:zoo_id/animals/index'>
  <input type='text' name='animal[name]' placeholder="Animal's name" />
  <input type='text' name='animal[species]' placeholder='Animal species' />
  <input type='number' name='animal[age]' placeholder="Animal's age" />
  <input type='text' name='animal[photo]' placeholder='URL of Animal Photo' />
  <input type='submit' value='Add'/>
</form>
<a href='/zoos/'>Home</a>
