<h2>Create a New Zoo</h2>
<form method='POST' action='/zoos'>
  <input type='text' name='zoo[name]' placeholder='Zoo Name' />
  <input type='text' name='zoo[location]' placeholder='Zoo Location' />
  <input type='Submit' value='Add' />
</form>
